/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
// background: url('/assets/img/elements/bg_gray_95x90.png');
//  .at2x('../img/elements/bg_gray_95x90.png', 95px, 90px);


* {
	margin: 0;
}
html, body {
	height: 100%;
}
#content_container {
	min-height: 100%;
	margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 55px; /* .push must be the same height as .footer */
	clear:both;
}

body{
  background-color: white;
  font-family: @font-family-sans-serif;
  color: @argGray;
  text-align: center;
}

h1{
	font-size: 48px;
	padding-bottom: 20px;
	border-bottom: 2px solid @argBlue;
	margin-bottom: 20px;
	display:inline-block; 
	color: @argBlue;
	font-weight: 300;
	margin-top: 40px; 
	@media(max-width:735px){
		font-size: 36px;
		margin-top: 45px;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}


header img{
	margin: 0 auto;
	display:block;
	margin-top: 65px;
	@media(max-width:735px){
		margin-top: 50px;
	}
}


#top{
	padding-bottom:30px;
	p{
		font-size: 28px;
		padding-bottom: 10px;
		@media(max-width:735px){
			font-size: 27px;
		}
		@media(max-width:500px){
			font-size: 25px;
		}
	}
	a{
		color: @argBlue;
		font-weight:bold;
		&:hover,
		&:active{
			color: @argGray;
			text-decoration: none;
		}
	}
}

#bottom{
	background-color: @argGray;
	color: white;
	padding-bottom: 15px;
	a{
		color: white;
		cursor: pointer;
	}
	p{
		font-size: 24px;
		margin-top: 48px;
		font-weight: 300;
		padding-bottom: 20px;
		margin-top: 25px;
		display:block;
		@media(max-width:500px){
			font-size: 22px;
		}
	}
	img{
		margin: 0 auto;
		&.portrait{
			border: 3px solid #222;
			border-radius: 6px;
			@media(max-width:590px){
				margin-top: -15px;
				margin-bottom: -10px;
			}
		}
	}
	.col-lg-2{
		margin-bottom: 30px;
	}
}

footer{
	background-color: @argGray;
	color: white;
	p{
		font-size: 24px;
		margin-top: 48px;
		font-weight: 300;
		padding-bottom: 10px;
		margin-top: 50px;
		@media(max-width:500px){
			font-size: 22px;
		}
	}
	a{
		padding: 0 15px;
	}
	.copyright{
		display: block;
		font-size: 12px;
		-webkit-font-smoothing: antialiased;
		line-height: 50px;
	}
	@media(max-width:720px){
		img{
			margin-bottom: 15px;
		}
	}
}



/* Normal styles for the modal */
#modal {
	background:#fff;
	left:50%;
	margin:-250px 0 0 -40%;
	position:fixed;
	top: 300px;
	width:80%;
	border-radius:5px;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	display:none;
}
	/* Make the modal appear when targeted */

#modal:target {
	display:block;
}

#modal section {
	padding:15px;
	z-index:200;
}
#modal h2 { 
	margin:0;
}
#modal .btn {
	float:right;
	position:absolute;
	right:15px;
	color: #333;
	font-size: 20px;
}
#modal iframe{
	border: 0;
}

.modal_page{
	height: auto;
	header img{
		margin: 30px auto 20px auto;
		max-width: 250px;
		@media(max-width: 740px){
			margin-top: 40px;
			margin-bottom: 20px;
		}
		@media(max-width: 500px){
			max-width: 150px;
			margin-top: 50px;
			margin-bottom:8px;
		}
	}
	h1{
		font-size: 34px;
		margin: 0 auto 2px auto;
		padding-bottom:10px;
		@media(max-width: 500px){
			font-size: 28px;
		}
	}
	p{
		font-size: 18px;
		padding-bottom: 10px;
	}
	.col-lg-6{
		margin-top:15px;
		text-align:left;
		img{
			float:right;
			border: 3px solid #ddd;
			border-radius: 5px;
		}
	}
	#top{
		padding-bottom: 35px;
	}
	#bottom{
		.col-lg-2{
			margin-bottom:0;
		}
		p{
			padding-bottom:0;
			margin0top:15px;
		}
	}
	footer{
		margin-top:10px;
		height: auto;
		padding: 10px;
		p{
			margin: 0;
		}
		.copyright{
			margin: 5px 0 0 0;
		}
	}
}

